version: "3.8"
services:

  # extractor:
  #   build: ./packages/extractor
  #   networks:
  #     - network-app
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #   restart: always

  rabbitmq:
    image: rabbitmq:3.13
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - network-app
    # healthcheck:
    #   test: [ "CMD", "rabbitmqctl", "status"]
    #   interval: 5s
    #   timeout: 20s
    #   retries: 5


  database:
    image: postgres:latest
    ports:
      - "5432:5432"
    networks:
      - network-app
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=coursecrafter
    volumes:
    - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    # restart: always



  


    
networks:
  network-app:


  
  